<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Rosalia Curmayari</h2>


  <button ion-button full (click)="tomarFoto()">
    <ion-icon name="camera">
    </ion-icon> &nbsp;
    Tomar foto
  </button>

  <img [src]="base64Image" *ngIf="base64Image" alt="" />
  <ion-row>
  <ion-col col-6 *ngFor="let foto of fotos">
    <img [src]="foto" *ngIf="foto" alt="">
  </ion-col>
  </ion-row>
  <p>
    Michael Gerard “Mike” Tyson (nacido el 30 de junio de 1966), es un ex boxeador profesional estadounidense que compitió entre 1985 y 2005. Tiene el récord como el boxeador más joven en ganar la WBA, WBC, y  los títulos de peso pesado de la IBF a los 20 años, 4 meses y 22 días de edad.
  </p>
  <p>
    Take a look at the <code>src/pages/</code> directory to add or change tabs,
    update any existing page or create new pages.
  </p>
     <img src="assets/imgs/images.jpg"/>
     <button ion-button color="danger">Danger</button>

</ion-content>